KAGGLE_USERNAME="blablabla"
KAGGLE_KEY="blablabla"

DEBUG=true

OPENAI_API_KEY="blablabla"
GEMINI_API_KEY="blablabla"
APIFY_API_KEY="blablabla"

COLLECTION_NAME="movies"
EMB_MODEL_NAME="BAAI/bge-small-en"
TOP_K=10
GPT_MODEL_NAME="gpt-4o-mini"

POSTGRES_PASSWORD="password"
DB_NAME="db_name"
LOG_DIR="logs/system"
