OMDB_API_KEY="blablabla"

DEBUG=true

OPENAI_API_KEY="blablabla"
GEMINI_API_KEY="blablabla"

COLLECTION_NAME="movies"
EMB_MODEL_NAME="BAAI/bge-small-en"
TOP_K=10
GPT_MODEL_NAME="gpt-4o-mini"

LOG_DIR="logs/system"
