OMDB_API_KEY="blablabla"

DEBUG=true

OPENAI_API_KEY="blablabla"
GEMINI_API_KEY="blablabla"

COLLECTION_NAME="movies"
EMB_MODEL_NAME="jinaai/jina-embeddings-v2-small-en" #"BAAI/bge-small-en"
TOP_K=10
GPT_MODEL_NAME="gpt-4o-mini"
QDRANT_HOST="localhost"
RAG_API_HOST="localhost"

LOG_DIR="logs/system"
