pre-commit
pandas
numpy
# json
requests
typing
qdrant_client
fastembed
torch
transformers
jupyter
openai
dotenv
# google
fastmcp
langgraph
langchain_mcp_adapters
langchain_openai
kaggle
